.landing-page-text {
    text-shadow: 
        3px 3px 0 #000, 
        -1px -1px 0 #000, 
        1px -1px 0 #000, 
        -1px 1px 0 #000, 
        1px 1px 0 #000;
    color: white;
}

.landing-page-header {
    font-size: 48pt;
    padding: 30px;
    font-family: Times;
    font-style: bold;
}

.repContainer {
    background-color: rgb(235, 235, 235);
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

.jumbotron {
    background-color: rgb(235, 235, 235) !important;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}
